body, html {
    width: 100%; 
    height: 100%;
}

.website {
    display: grid;
    grid-template-rows: 1fr .5fr .001fr 4fr;
    background-color: seashell;

}
.header {
    font-size: 100px;
    display: grid;
    justify-content: center;
    background-color: seashell;
}

.topics {
    display: flex;
    flex-direction: row; 
    background-color: seashell;
    font-family: bodoni,serif;
    font-size: 15px;
    justify-content: space-evenly;
    height: 15px;
    /* SHRINK HEIGHT */
}

.books {
    color: red;
}
hr {
    background-color:red;
    height: 1px;
    bord             er: none;
}

.content {
    display: grid;
    grid-template-columns: 1.5fr 1fr; 
    background-color:seashell;
}

h3 {
    text-transform: uppercase;
    font-size: 11px;
    font-family: bodoni,serif;
}

h1 {
    font-family: bodoni,serif;
    font-size: 25px;
}

.by-line {
    font-family: bodoni,serif;
    font-size: 12px;
}

.pizza-image {
    height: 80%;
    width: 80%;

}
.info-column {
    display: grid;
    grid-template-rows: 3fr 1fr 2fr;
    background-color: olive;
}

.blog-stories {
    /* DOES THIS NEED SOMETHING */

}

.info-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: seashell;
}

.boxes {
    display: grid;
    grid-template-rows: 3fr 1fr 2fr;
    height: 100%;
    margin: 6px;
    
}

.about {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;

}

.joanna-pic {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.email {
    display: flex;
    flex-direction: column;
    background-color:white;
    align-items: center;
    justify-content: center;
}

.social {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;

}